<h1>All Tags</h1>

<table style="min-width: 50%;">
    <% @tags.each do |tag| %>
    <tr>
        <td><%= link_to tag.name,  tag_path(tag) %></td>
        <% if logged_in? %><td><%= link_to "[Delete]", tag_path(tag), method: :delete %></td><% end %>
    </tr>
    <% end %>
</table>
<br/><br/>
<%= link_to "<< Back to Articles List", :root %>
